body {
    background-color: aqua;
    font-family: fantasy;
}

#container {
    background-color: aquamarine;
    color: blue;
    width: 960px;
    min-height: inherit;
    margin: inherit;
    border: 4px solid green;
    border-radius: 20px;
    padding: 20px;
}